*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    background: url('../img/home.jpg');
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar__nav{
    width: 97%;
    margin-left: 1%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    padding: 1%;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 10%;
}
.nav__link{
    color: gainsboro;
    border-bottom: left;
}
.nav__link:hover{
    color: white;
   
}
/* fin nav */

/* cajas del titulo*/
.box{
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
 .box__title{
    width: 47%;
    color: white;
    font-size: 2.5rem;
}
.box__text{
    font: 1rem;
    color: white;
}
.box--2{
    margin-top: 5%;
    margin-left: 45%;
    display: flex;
    color: black;
}
.box__item{
    background-color: white;
    width: 90%;
    padding: 2%;
}
/* contenido */
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5%;
}
.box__content{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
}
/* texto del contenido */
.content__text{
    margin-top: 3%;
}
.content__text > h3,p{
    margin: 3%;
}
.content__text > p{
    width: 70%;
}
/* fin texto del contenido */

/* contenido imagenes */
.content__item{
    margin: 5%;
    border-radius: 2%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.content__item--img1{
    background-image: url('../img/card1.jpg');
    height: 70vh;
}
.content__item--img2{
    background-image: url('../img/card2.jpg');
    height: 70vh;
}
.content__item--img3{
    background-image: url('../img/card3.jpg');
    height: 70vh;
}
.content__item--img4{
    background-image: url('../img/card4.jpg');
    height: 47vh;
}
/* fin contenido imagenes */

/* texto de imgs */
.item__content{
    background-color: white;
    padding: 3;
    width:48%;
}
/* fin textos de imgs */

/*final*/
.final{
    width: 100%;
    border-top: 1px solid gainsboro;
    display: flex;
    justify-content: space-around;
}
.final__item{
width: 100%;
padding: 1%;
display: flex;
justify-content: center;
}
/* telefono movil vertical */
@media only screen and (width:320px)
{
    .navbar{
        background-position: center;
        background-size: 60rem;
        background-repeat: no-repeat;
        height: 43vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar__nav{
        font-size:70%;
    }
   .box{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   }
   .box__content{
       font-size: .5rem;
   }
   .box__title{
       font-size: 1.5rem;
       width: 30%;
   }
   .box__text{
       width: 60%;
       font-size: 60%;
   }
   .box--2{
       display: flex;
       flex-direction: column;
       margin-top: 20%;
       margin-right: 0%;
       font-size: .8rem;
   }
   .content__text{
       font-size: .8rem;
   }
   .content__item--img4{
    height: 20vh;
    width: 80%;
  }
   .content__item--img3{
    height: 20vh;
    width: 80%;
    margin-top: 20rem;
   }
   
   .content__item--img1,.content__item--img2{
    height: 20vh;
    width: 80%;
    margin-top:10rem;
   }
   .content__text{
      font-size: .6rem;
     padding: 1%;
   }
   .item__content{
       width: 80%;
       font-size: .6rem;
       padding: 1%;
   }
   .final{
       font-size: .5rem;
   }
}
/*fin telefono movil vertical */


